ul li{
  list-style: none;
}
i.icon.icon-back{
  background: url('../imgs/icon/back.png');
  background-size: cover;
  width:16px;
}
.navbar .right a{
	color:#fff;
}
.content-block{
	margin:50px 0;
	padding:0;
}
.content-block-inner{
	margin-left: 0px;
}
.blank{
	height: 15px;
	width:100%;
	background:#f2f2f2;
}

ul.label{
  padding-left: 0;
  margin-top:5px;
}
ul.label li{
  float: left;
  font-size: .6rem;
  margin-right: 5px;
  border-radius: 3px;
  padding:2px 3px 0;
}
ul.label li:nth-of-type(1){
  color:#0097fb;
  border:1px solid #0097fb;
}
ul.label li:nth-of-type(2){
  color:#f7b633;
  border:1px solid #f7b633;
}
ul.label li:nth-of-type(3){
  color:#fb936d;
  border:1px solid #fb936d;
  margin-right: 0
}
.navbar-fixed .page-content{
  padding-top:50px;
}
.content-block{
  margin: 0
}
html.ios-gt-8 .navbar .center{
  font-weight: 500;
  color:#fff;
}
.padding-l-r{
  padding:0 15px;
}
.navbar:after{
  height: 0px;
}
.list-block{
  margin: 0
}